<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Sản phẩm</title>
      <!-- Create favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="/images/logo.jpg" />
      <!-- Custom fonts for this template-->
      <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <!-- Page level plugin CSS-->
      <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="/css/sb-admin.css" rel="stylesheet">
      <link href="/css/admin.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

   </head>
   <body id="page-top">
    <%- include ('../components/nav_bar.ejs') %>

      <div id="wrapper">
      <!-- Sidebar -->
      <%- include ('../components/menu.ejs') %>

      <div id="content-wrapper">
         <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Quản lý</a>
               </li>
               <li class="breadcrumb-item active">Sản phẩm</li>
            </ol>
            <!-- /form -->
            <form method="post" id="addProduct_form" enctype="multipart/form-data">
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="name">Tên </label>  
                  <div class="col-md-9 col-lg-6">
                     <input name="name" id="name_product" type="text" value="" class="form-control">								
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="wholesale-price">Giá bán lẻ </label>  
                  <div class="col-md-9 col-lg-6">
                     <input name="wholesale-price" id="wholesale_price" type="text" value="" class="form-control">	
                  </div>
               </div>
               
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="inventory-number">Lượng tồn</label>  
                  <div class="col-md-9 col-lg-6">
                     <input name="inventory-number" id="inventory_number" type="text" value="" class="form-control">			
                  </div>
               </div>
               
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="category">Danh mục </label>  
                  <div class="col-md-9 col-lg-6">
                     <select name="category" id="category_product" class="form-control">
                        <option selected value="">Chọn danh mục</option>
                        <%
                        for(dataCate of dataCates){
                           if(dataCate.name !== "null"){ %>
                            <option value="<%= dataCate.id %>"><%= dataCate.name %></option>
                        <%}
                     }
                        %>
                     </select>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-12 control-label">Nổi bật</label>  
                  <div class="col-md-9 col-lg-6">
                     <input name="isFeatCheck" type="checkbox" value="1">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="image">Hình ảnh </label>
                  <div>
                     <div class="col-md-9 col-lg-6">
                        <img src="" alt="" id="img_pre" style="display:none; margin-bottom: 20px;border-radius:20px; width: 150px; height:150px; object-fit:cover">
                     </div>
                     <div class="col-md-9 col-lg-6">
                        <input onchange="showImagepre(event)" type="file" name="img_product" id="img_product">              
                     </div>
                  </div>
                 
               </div>
               <div class="form-group row">
                  <label class="col-md-12 control-label" for="description">Mô tả</label>  
                  <div class="col-md-12">
                     <textarea name="description" id="CK1" rows="10" cols="80"></textarea>
                  </div>
                  
               </div>
               <div class="form-action">
                  <input type="submit" class="btn btn-primary btn-sm" value="Lưu" name="save">
               </div>
            </form>
            <script type="text/javascript" src="/vendor/ckeditor/ckeditor.js"></script>
            <script>
               window.onload = () => {
                  CKEDITOR.replace("CK1");
                };   
            </script>
            <!-- /form -->
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer class="sticky-footer">
               <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                     <span>Copyright © Thầy Lộc 2017</span>
                  </div>
               </div>
            </footer>
         </div>
         <!-- /.content-wrapper -->
      </div>
      <!-- /#wrapper -->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <%- include ('../components/Logout_pane.ejs') %>

      <!-- Bootstrap core JavaScript-->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/js/addProduct.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Core plugin JavaScript-->
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
      <!-- Page level plugin JavaScript-->
      <script src="/vendor/datatables/jquery.dataTables.js"></script>
      <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="/js/sb-admin.min.js"></script>
      <!-- Demo scripts for this page-->
      <script src="/js/demo/datatables-demo.js"></script>
      <script src="/js/admin.js"></script>
   </body>
</html>